@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592215659103'); /* IE9 */
  src: url('iconfont.eot?t=1592215659103#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABogAAAJ3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBFIEqATYCJAMICwYABCAFhG0HLxvPBRHVkz1kXySYJ43OgLaI5+h1KSR/hXRN8Dzt7//Xnplz3zwxAWyiE/+PZBQqQySa0Mh8EiAgtThPtzallRgVoViS89RP/yM/NiGdAeAT906bQIHMB5TLGIPGmvypCzDeGtBYmyIrksgbxm4icAjHIYAP0TJJdW1zNxYDGCeALC/MTWBzXgzGSlgET81SgxzBwaq96hFwmH9fvpKfBYWjASXtszXTlH84AVP0FncLw5SEDwRttQNoIBMYkO7aaCsasRgan6ghHvsqFPhwwnWpBdmrEbH+OpDvB0CkKronMZbcar4CwKjtGaBulAtMALhRNt16Envuac3d5wnnn9WKPHnS/fR92oWPfc+e9Yohac+f9z192lPVXcRujq2qUqqqMi4PC/hWVbn8OqoePtRHwxfrlEUnI6ZdHz48puifUbt3qRmYsnv3zGlWqF5mVH7pt2bPQDkA7npNLyKAwOWz+++PBRb/t74GgNf+C0vc7W7oZwd7IpvADxP3LDOhFGjVoUWaTZGRcaNAFdgOXMAZ4t1YXfjdJQVL+D3avYhKobEkkg09Ew6+FMKDpQw+ZKhb7UuoFTRivIF0OxUIQa5AEcBVaII8Jhv6WzhE+A4PQWn40CuhW/qS3IJPlUQoGDXIH3hVi0FW7kXhFe0rCcpKOfOJdPgAzMNUTFywIM0x43jbhdmAoZphU07DlCo0qgEVD465reNo6t40qJq7nipCwahB/sCrWgytzn3p81e0rySohTDgfSIdvnOYh6kH+aIqvQj38srxtguzAUM1w6YMwpQqtPpBARUPbkS4rSOsZPqqhvU1+evWAD4AvRLYR+NM+7/zXQcA') format('woff2'),
  url('iconfont.woff?t=1592215659103') format('woff'),
  url('iconfont.ttf?t=1592215659103') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592215659103#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e69b";
}

